@{
    ViewBag.Title = "Home Page";
}
<h1>Upload your evil image</h1>

@if (ViewBag.message == true)
{  
    <h3 class="text-warning">Image gallery successfully created <a href="@ViewBag.url">here</a></h3>
    <h3 class="text-warning"><a href="/Decrypt?albumId=@ViewBag.albumId">Decrypt here</a></h3>
}
@using (Html.BeginForm("Upload","Home",FormMethod.Post, new { name="evilfile", enctype="multipart/form-data"}))
{
    <input typeof="text" id="encryptionKey" name="encryptionKey" />

    <input type="file" id="evilfile" name="evilfile" />

    <input type="submit" />
}
