
@{
    ViewBag.Title = "Your Decrypted Image";
}

<h2>@ViewBag.title</h2>

<img src="@Url.Action("GetImage", new { albumId = ViewBag.albumId, encryptionKey = ViewBag.encryptionKey })" alt="Your super secret image" />

